    <!-- Footer -->
    <footer>
      <div class="container">
        <ul class="social-links">
          <li>
            <a href="https://www.facebook.com/"><img src="/image/facebook.svg" alt="Facebook" /></a>
          </li>
          <li>
            <a href="https://www.instagram.com/"><img src="/image/instagram.svg" alt="Instagram" /></a>
          </li>
          <li>
            <a href="https://x.com/"><img src="/image/X.svg" alt="X" /></a>
          </li>
        </ul>
        <p>&copy; 2024 Edenéa. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
