<%- include('partials/header') %>

<section class="checkout-section" aria-labelledby="checkout-heading">
  <h1 id="checkout-heading">お買い上げありがとうございます。</h1>
  <div class="checkout-title">
    <p>私共(Edenéa)の商品がお客様のより良い毎日につながりますように</p> 
    <p>またのご利用をお待ちしております。</p>
  </div>
  <div class="logout_btn">
    <a class="btn-logout" href="/" role="button">ログアウト</a>
  </div>
</section>

<%- include('partials/footer') %>