<%- include('partials/header') %>

    <!-- home Section -->
    <section class="home-section">
      <h1 class="home-title">Edenéa MyPage</h1>
      <div class="home-description">
      <div class="my_page_logo">
        <img src="/image/my_page.png" alt="">
       </div>
       <div class="my_page_btn">
        <a class="btn-login" href="/login" role="button">ログイン
          <img src="/image/arrow.svg" alt="ログイン">
        </a>
        <a class="btn-register" href="/register" role="button">新規会員登録
          <img src="/image/arrow.svg" alt="新規会員登録">
        </a>
        <a class="btn-google" href="/auth/google" role="button">Googleログイン
          <img src="/image/arrow.svg" alt="Googleログイン">
        </a>
        </div>
      </div>
  </section>

<%- include('partials/footer') %>
