<%- include('partials/header') %>

    <!-- member-reg Section -->
    <section class="member-section">
      <h1 class="member-title">登録完了</h1>
      <div class="member-description">
      <p>この度は、Edenéaにご登録いただき、誠にありがとうございます。会員登録が無事に完了しました。</p>
      <p>今後、会員限定の特典や最新情報、キャンペーンのお知らせをいち早くお届けいたします。<br>
        また、ご登録いただいたアカウントで、ショッピングや注文履歴の確認、アドレス変更などが簡単に行えます。</p>
      <p>今後とも、Edenéaをよろしくお願い申し上げます。</p>
      </div>
      <div class="form-links">
        <a href="/login" class="login-link"> ログイン</a>
    </div>

  </section>

  <%- include('partials/footer') %>