/* General Styles */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #666;
  background-color: #f7f7f7;
}

h1, h2, h3 {
  font-family: 'Noto Serif JP', serif;
  font-weight: 700;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
} 

/* Navigation Bar */
.navbar {
  background-color: #014D4E;
  padding: 20px 0;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo img {
  width: auto;
  height: 90px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.nav-links2 {
  display: none;
}

.nav-links li {
  margin-left: 30px;
  font-size: 20px;
}

.nav-links li:hover {
  opacity: 0.5;
  transition: all 0.3s;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.burger {
  display: none;
  cursor: pointer;
}


/* TOS Styles */

/* Terms Section */
.terms-section {
  padding: 40px 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;

}

.terms-container {
  max-width: 900px;
  margin: 200px 20px 60px 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.terms-title {
  font-size: 32px;
  color: #154734;
  text-align: center;
  margin-bottom: 40px;
}

.terms-article {
  margin-bottom: 30px;
}

.terms-article h2 {
  font-size: 22px;
  color: #154734;
  margin-bottom: 10px;
}

.terms-article p {
  font-size: 16px;
  color: #666;
}

/* Responsive Design */
@media (max-width: 768px) {
  .terms-container {
    margin: 100px 20px 20px 20px;
  }
  .terms-title {
      font-size: 28px;
  }

  .terms-article h2 {
      font-size: 20px;
  }

  .terms-article p {
      font-size: 15px;
  }
}




/* Privacy Policy Section */
.privacy-policy-section {
  padding: 40px 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;

}

.privacy-policy-section2 p {
margin: 80px 100px 100px;
text-align: center;
}



.privacy-container {
  max-width: 900px;
  margin: 200px 20px 60px 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.privacy-title {
  font-size: 32px;
  color: #154734;
  text-align: center;
  margin-bottom: 20px;
}

.privacy-article {
  margin-bottom: 30px;
}

.privacy-article h2 {
  font-size: 22px;
  color: #154734;
  margin-bottom: 20px;
  margin-top: 60px;
}

.privacy-article p {
  font-size: 16px;
  color: #666;
}

.privacy-article a {
  text-decoration: none;
  color: #666;
}

.privacy-article a:hover {
  text-decoration: underline;
}


/* Responsive Design */
@media (max-width: 768px) {

  .privacy-container {
    margin: 100px 20px 40px 20px;

  }
  .privacy-title {
      font-size: 28px;
  }

  .privacy-article h2 {
      font-size: 20px;
  }

  .privacy-article p {
      font-size: 15px;
  }

  .privacy-policy-section2 p {
    margin: 40px 60px 60px;
    text-align: center;
    }
    
}

@media (max-width: 500px) {
  .privacy-title {
      font-size: 20px;
  }

  .privacy-article h2 {
      font-size: 16px;
  }

  .privacy-article p {
      font-size: 14px;
  }

  .privacy-policy-section2 p {
    margin: 40px 20px 60px;
    text-align: justify;
    }
    
}



/* Legal Section */
.legal-section {
  padding: 40px 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.legal-container {
  width: 100%;
  max-width: 900px;
  margin: 200px 20px 60px 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.legal-container2 {
  margin: 100px 0 40px 0;
}

.legal-title {
  font-size: 32px;
  color: #154734;
  text-align: center;
  margin-bottom: 80px;
}

.legal-article {
  margin-bottom: 30px;
}

.legal-article h2 {
  font-size: 22px;
  color: #154734;
  margin-bottom: 10px;
  margin-top: 80px;
}

.legal-article p {
  font-size: 16px;
  color: #666;
}

/* Responsive Design */
@media (max-width: 768px) {
  .legal-container {
    margin: 100px 20px 40px 20px;

  }
  .legal-title {
      font-size: 28px;
  }

  .legal-article h2 {
      font-size: 20px;
  }

  .legal-article p {
      font-size: 15px;
  }
}

@media (max-width: 500px) {
  .legal-title {
    font-size: 20px;
}

.legal-article h2 {
    font-size: 16px;
}

.legal-article p {
    font-size: 14px;
}

}







/* Footer */
footer {
  background-color: #014D4E;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.navi {
  
  padding: 20px;
}

.footer_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* アイテム間の余白 */
}

.footer_nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer_nav li {
  margin: 0;
  font-size: 14px;
}

.footer_nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-align: center;
}

.footer_nav a:hover {
  opacity: 0.5;
  transition: all 0.3s;
}

footer p {
  margin: 0;
  font-size: 14px;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 10px;
}

.social-links li {
  margin: 0 10px;
}

.social-links img {
  height: 30px;
}
.social-links img:hover {
  opacity: 0.5;
  transition: all 0.3s;
}

@media (max-width: 800px) {
  .footer_nav {
    flex-direction: column;
    gap: 0;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-links2 {
    display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      line-height: 3;
      list-style: none;
      background-color: #014D4E;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      z-index: 99;
      font-size: 20px;
      opacity: 0;
      transition: all 0.3s;
      transform: translate(100%);
  }

  .nav-links2.show {
    opacity: 1;
    transform: none;
  }
  

  .nav-links2 a {
    color: white;
    text-decoration: none;
  }
  .nav-links2 li:hover {
    opacity: 0.5;
    transition: all 0.3s;
  }

  .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 10px;
    cursor: pointer;
    z-index: 999;
    width: 50px;
    height: 50px;
}

.menu-line {
    width: 30px;
    height: 2px;
    background-color: white;
    display: block;
    position: relative;
    transition: all 0.3s;
}

/* ハンバーガーメニューの上下の線 */
.menu-line::before,
.menu-line::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: white;
    display: block;
    position: absolute;
    transition: all 0.3s;
}

.menu-line::before {
    top: -10px;
}

.menu-line::after {
    top: 10px;
}


  .menu-line.active::before {
   transform: rotate(45deg);
  top: 0;
  }

  .menu-line.active {
    background-color: transparent;
  }

  .menu-line.active::after{
    transform: rotate(-45deg);
    top: 0;
  }

  .navbar {
    padding: 0;
    padding-top: 10px;
  }

}
